@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  touch-action: none;
  touch-action: pan-y;
}
body {
  color: rgb(var(--background-end-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--foreground-rgb))
    )
    rgb(var(--foreground-rgb));
  overflow-y: scroll;
  overflow-x: hidden;
}
main {
  color: rgb(var(--foreground-rgb));
}
.logo-box {
  position: relative;
}
.logo-box:after{
  content: "";
  background-position: center center;
  background-size: cover;
  position: absolute;
  /* 圖片需超過外層的區塊 */
  top: -30rem;
  bottom: -30rem;
  left: -30rem;
  right: -30rem;
  background-image: url('/Tarmac_SL8_SW.webp');
  background-repeat: no-repeat;
  /* 加入模糊 */
  filter: blur(6px);
  z-index: -1;
}
